header {
    position: relative;
    h1 {
        color: $secondary;
        font-size: 9rem;
        @media (max-width: 480px) {
            font-size: 7rem;
            margin:5px 0;
        }
    } 
}

.header-banner {
    @extend .polaroid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(1, 22, 50, 0.45)), url("./../images/banner_filter.jpg");
    @media (max-width: 480px) {
        padding: 10px;
    }
}
